<!-- HOME PAGE OF SONDI -->

{% extends "base.html" %}

{% block title %}Home | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'home/style.css' %}
{% endblock %}

{% block content %}
<main>
    <!-- Element for accessibility and SEO without displaying it -->
    <h1 class="visually-hidden">Sondi</h1>
    <img id="home-logo" src="{% static 'images/sondi-logo.svg' %}" alt="Logo" width="350px">
    <h2>
        Create, vote, and share polls with Sondi, the ultimate free and anonymous 
        polling platform for quick and easy opinions!
    </h2>

    <!-- Buttons -->
    <a class="button" href="{% url 'polls:create' %}">Create a poll</a>
    <p>― or ―</p>
    <a class="button" href="{% url 'polls:index' %}">Vote on a poll</a>
</main>
{% endblock %}