{% extends "base.html" %}

{% block title %}Confirmation | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'polls/style.css' %}
{% endblock %}

{% block createSelected %}
class="selected"
{% endblock %}

{% block content %}
<main id="confirmation-main">
    <h1>Your poll has been created successfully!</h1>
    <h2>Here's the code of your poll:</h2>
    <div id="codeDiv">
        <div class="tooltip">
            <button id="copy-button" class="button" onclick="copyCode()" onmouseout="copyCodeOut()">
                <span class="tooltiptext" id="myTooltip">Copy</span>
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <p id="code">{{ question.code }}</p>
    </div>
</main>
{% endblock %}

{% block JavaScript %}
{% static 'polls/scripts/confirmation.js' %}
{% endblock %}