<!-- Poll created confirmation -->

{% extends "base.html" %}

{% block title %}Confirmation | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'polls/style.css' %}
{% endblock %}

{% block createSelected %}
class="selected"
{% endblock %}

{% block content %}
<main id="confirmation-main">
    <h1>Your poll has been created successfully!</h1>
    <h2>Here's the code of your poll:</h2>
    <!-- Code -->
    <div class="code-link-div">
        <div class="tooltip">
            <button class="copy-button" onclick="copyCode()" onmouseout="copyCodeOut()">
                <span class="tooltiptext" id="myTooltipCode">Copy</span>
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <p id="code">{{ question.code }}</p>
    </div>
    <h3>― Or share with the following link ―</h3>
    <!-- Link -->
    <div class="code-link-div">
        <div class="tooltip">
            <button class="copy-button" onclick="copyLink()" onmouseout="copyLinkOut()">
                <span class="tooltiptext" id="myTooltipLink">Copy</span>
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <p id="link">http://127.0.0.1:8000/polls/vote/{{ question.code }}/</p>
    </div>
</main>
{% endblock %}

{% block JavaScript %}
{% static 'polls/scripts/confirmation.js' %}
{% endblock %}