<!-- SEARCH POLL BY CODE AND PUBLIC POLLS LIST -->

{% extends "base.html" %}

{% block title %}Polls | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'polls/style.css' %}
{% endblock %}

{% block voteSelected %}
class="selected"
{% endblock %}

{% block content %}
<main id="polls-index-main">
    <h1>Vote on a poll now!</h1>
    <!-- Search poll by code -->
    <h2>Private poll</h2>
    <form method="POST" id="search-form">
       <i class="fa-solid fa-magnifying-glass"></i>
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="search-button" class="button">Search</button>
    </form>
    <!-- Public polls list -->
    <h2>Public poll</h2>
    <!-- Categories -->
    <div class="list-switch" id="topic-search-bar">
        <ul>
            <li id="most-recent" onclick="mostRecentSelected()" class="selected"><i class="fa-regular fa-clock"></i>Most Recent</li>
            <li id="most-voted" onclick="mostVotedSelected()" class=""><i class="fa-solid fa-arrow-trend-up"></i>Most Voted</li>
            <li id="trending" onclick="trendingSelected()" class=""><i class="fa-solid fa-fire"></i>Trending</li>
            <li id="random" onclick="randomSelected()" class=""><i class="fa-solid fa-shuffle"></i>Random</li>
        </ul>
    </div>
    <h3 id="public-questions-topic-title">Polls created recently:</h3>
    <!-- Lists by category -->
    <div id="public-questions-list">
           <!-- Most recent -->
        <div id="most-recent-questions" class="">
            {% if most_recent %}
                <ul>
                {% for question in most_recent %}
                    <li><a href="/polls/vote/{{ question.code }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <!-- Most voted -->
        <div id="most-voted-questions" class="hidden">
            {% if most_voted %}
                <ul>
                {% for question in most_voted %}
                    <li><a href="/polls/vote/{{ question.code }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <!-- Trending -->
        <div id="trending-questions" class="hidden">
            {% if trending %}
                <ul>
                {% for question in trending %}
                    <li><a href="/polls/vote/{{ question.code }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
        <!-- Random -->
        <div id="random-questions" class="hidden">
            {% if random %}
                <ul>
                {% for question in random %}
                    <li><a href="/polls/vote/{{ question.code }}/">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

{% block JavaScript %}
{% static 'polls/scripts/index.js' %}
{% endblock %}