<!-- VOTE ON A POLL -->

{% extends "base.html" %}

{% block title %}Vote | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'polls/style.css' %}
{% endblock %}

{% block voteSelected %}
class="selected"
{% endblock %}

{% block content %}
<main id="vote-main">
        <h1>Select Your Choice</h1>
        <h2>{{ question.question_text }}</h2>
        <form action="{% url 'polls:vote' question.code %}" method="post">
            {% csrf_token %}
            <!-- Select choice form -->
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <label class="rad-label" for="choice{{ forloop.counter }}">
                    <input class="rad-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <div class="rad-design"></div>
                    <div class="rad-text">{{ choice.choice_text }}</div>
                </label>
            {% endfor %}
            <!-- Submit button -->
            <button type="submit" class="button" id="vote-button">Vote</button>
        </form>
</main>
{% endblock %}

{% block JavaScript %}
{% static 'polls/scripts/vote.js' %}
{% endblock %}