{% extends "base.html" %}

{% block title %}Vote | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'polls/style.css' %}
{% endblock %}

{% block voteSelected %}
class="selected"
{% endblock %}

{% block content %}
<main>
    <form action="{% url 'polls:vote' question.code %}" method="post">
        {% csrf_token %}
        <h1>{{ question.question_text }}</h1>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
</main>
{% endblock %}

