 /* ------ POLLS APP TEMPLATES CSS ------ */


/* --- GENERAL --- */

h2{
    font-size: 32px;
    font-weight: 450;
    color: #555a64;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

h3{ 
    color: #919191;
}

form{
    margin: 0;
}

input{
    color: #393e46;
    border-radius: 40px;
    border: solid #d7d7d7 2px;
    width: 25vw;
    padding: 10px 15px;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}

input:focus{
    outline-color: #7a7a7a;
}

input:placeholder-shown{
    color: #949494;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}




/* --- INDEX.HTML --- */

#polls-index-main h2{
    margin-bottom: 10px;
}

#polls-index-main h3{
    margin: 0;
}


/* Search form */

#search-form i{
    margin-left: 65px;
    font-size: 25px;
    padding-right: 5px;
}

#search-form input{
    width: 260px;
    margin: 10px 5px 10px 0;
}

#search-button{
    font-size: 21px;
    margin: 10px 0 0 0;
    border: solid #1e9baf 2.5px;
    padding: 8px 12px;
}

#search-button:hover{
    background-color: #1e9baf;
    color: white;
    text-decoration: none;
}


/* Public polls categories */

.list-switch ul{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-switch li{
    cursor: pointer;
    list-style-type: none;
    padding: 6px 17px; 
    border: solid 1px #d5d5d5; 
    font-size: 19px; 
    font-weight: bold; 
    text-align: center;
    transition: border-color .15s ease-out, 
                color .25s ease-out, 
                background-color .15s ease-out,
                box-shadow .15s ease-out;
    &:first-of-type {border-radius: 8px 0 0 8px; border-right: none;}
    &:last-of-type {border-radius: 0 8px 8px 0; border-left: none;}
}

.list-switch li:hover{
    border-color: #b5b5b5;
    background-color: #f2f2f2;
}

.list-switch li.selected{
    text-decoration: none;
    background-color: #1e9baf !important;
    color: #FFF;
    box-shadow: 1px 1px 10px #929292;
    border-color: #1e9baf;
}

.list-switch i{
    margin-right: 8px;
}


/* Public polls list */

#public-questions-list{
    margin: 10px auto 0 auto;
    padding-top: 0;
    height: 250px;
    width: fit-content;
    min-width: 350px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 19px;
    overflow: auto;
}

#public-questions-list ul{
    margin: 12px 0;
}

#public-questions-list a{
    color: #393e46;
}

#public-questions-list a:hover{
    color: #dc8559;
}


/* Error message */

#public-questions-list p{
    line-height: 250px;
}


/* Scrollbar styles */

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
border: 1px solid #cacaca;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #cacaca;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #b4b4b4;  
}




/* --- CREATE.HTML --- */


/* Question form */

#id_question_text{
    margin-bottom: 2px;
    width: 40vw;
}

#form-container h2{
    &:first-of-type{margin-left: 25px;}
}


/* Help icon and message */

#help-icon{
    margin-left: 7px;
    font-size: 19px;
    color: #919191;
    vertical-align: middle;
}

#help-icon:hover{
    cursor: pointer;
}

#help-message{
    padding: 20px 25px;
    background-color: #33333388;
    color: white;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

#help-message ul{
    padding-left: 15px;
    margin-bottom: 0;
    margin-top: 10px;
}

#help-message li{
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: justify;
    list-style-type: circle;
    &:first-of-type{margin-bottom: 10px;}
}

#help-message li::marker{
    color: white;
}

#help-message p{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    text-decoration: underline;
}

#help-message strong{
    font-size: 18px;
    text-decoration: underline;
}

#close-help{
    cursor: pointer;
    float: right;
    font-size: 17px;
}


/* Visibility form */

#id_visibility{
	display: flex; 
    flex-flow: row;
	justify-content: center; 
}

#id_visibility input{
    display: none;
}

#id_visibility label{
    padding: 6px 17px; 
    border: solid 1px #DDD; 
    font-size: 19px; 
    font-weight: bold; 
    text-align: center;
    transition: border-color .15s ease-out, 
                color .25s ease-out, 
                background-color .15s ease-out,
                box-shadow .15s ease-out;
    &:first-of-type {border-radius: 8px 0 0 8px; border-right: none;}
    &:last-of-type {border-radius: 0 8px 8px 0; border-left: none;}
}

#id_visibility label i{
    margin-right: 10px;
}

#id_visibility input:hover + label {
    border-color: #213140;
    cursor: pointer;
}

#id_visibility input:checked + label {
    background-color: #1e9baf;
    color: #FFF;
    box-shadow: 1px 1px 10px #929292;
    border-color: #1e9baf;
}


/* Choices form */

.choice-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
    margin-bottom: 15px;
    align-items: center;
    height: fit-content;
}
.choice-form input{
    margin-left: 50px;
}

.choice-form i{
    color: #393e46;
    font-size: 25px;
}

.choice-form i:hover{
    color: #949494;
}

.delete-button{
    border: none;
}

.delete-button:disabled i {
    color: #d3d3d3;
}

.delete-button:disabled i:hover {
    color: #d3d3d3;
    cursor: not-allowed;
}

#add-button{
    border: solid #1e9baf 2px;
    margin: 5px 0;
    border-radius: 100px;
    font-size: 20px;
    color: #686c74;
    padding: 10px 12px;
}

#add-button:hover{
    border: solid #1e9baf 2px;
    background-color: #c6f7ff;
}


/* Submit button */

#create-button{
    width: 15%;
    min-width: 160px;
    padding: 10px 15px;
    margin-top: 35px;
    font-size: 26px;
}

#create-button:hover{
    border: solid #fda579 3px;
    background-color: #fda579;
    font-size: 26px;
    text-decoration: none;
}




/* --- CONFIRMATION.HTML --- */

#confirmation-main{
    width: 100%;    
}

#confirmation-main h1{
    margin-top: 5%;
    margin-bottom: 3%;
}

#confirmation-main h2{
    margin-bottom: 2%;
}

#confirmation-main h3{
    margin: 3% 0;
    font-size: 24px;
}


/* Code and link style */

.code-link-div{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    width: fit-content;
    background-color: #f7f7f7;
    margin: auto;
    place-content: center;
    align-items: center;
    border-radius: 50px;
}

#code{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 22px;
}

#link{
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 22px;
}


/* Copy button and message */

.copy-button{
    font-size: 30px;
    border: none;
    background-color: #f9f9f9;
    padding: 0;
}

.copy-button:hover{
    color: #979797;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 20px;
    width: 80px;
    background-color: #1e9baf;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 8px;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 155%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #1e9baf transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 0.75;
}




/* --- VOTE.HTML --- */

#vote-main h1{
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
}

#vote-main h2{
    max-width: 60%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#vote-main form{
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    border: solid #b4b4b4 2px;
    padding: 20px;
    padding-right: 25px;
}


/* Select choice form (radio buttons style) */

.rad-label{
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 14px;
    margin: 8px 0;
    cursor: pointer;
    transition: .3s;
}
.rad-label:hover, .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, #00DFFF, #50b0ff);
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked + .rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #575d66;
    margin-left: 14px;
    transition: .3s;
}

.rad-input:checked ~ .rad-text {
    color: hsl(0, 0%, 40%);
}


/* Submit button */

#vote-button{
    margin-top: 20px;
    width: 50%;
    max-width: 200px;
    min-width: fit-content;
    font-size: 21px;
}




/* --- RESULTS.HTML --- */

#results-main h2{
    font-size: 32px;
    margin: 40px auto 30px auto;
    max-width: 60%;
}

#results-main li{
    margin-bottom: 12px;
    font-size: 24px;
}

#results-main h3{
    color: #a7a7a7;
    font-size: 23px;
    margin: 30px;
}


/* Type of view form */

#view-type-bar ul{
    margin: 30px;
}

#view-type-bar ul li{
    margin-bottom: 0;
    font-size: 20px;
}


/* List view */

.choice-list ul{
    display: inline-block;
    margin: 0 30px 10px 0;
}

.choice-list i{
    color: #555a64;
}

.number-votes{
    color: #646a75;
}

.choice-list p{
    font-size: 23px;
    font-weight: bold;
    color: #535353;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    margin-bottom: 50px;
}


/* Graph view */

#graphContainer{
    width: 35%;
    height: 375px;
    margin: auto;
}

#graph-error-message{
    margin: 7% 0;
    font-size: 23px;
}




/* --- USER_POLLS.HTML --- */

#user-polls-list{
    margin: auto;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
}

#user-polls-list ul{
    padding: 0;
}

#user-polls-list li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 4%;
    margin: 0;
    border-bottom: solid #cecece 2px;
    &:nth-child(even) {background-color: #d7d7d720;}
    &:hover{background-color: #80808029;}
}

#user-polls-list li::before {
    content: "○";
    font-size: 25px;
    position: relative;
    left: 0;
    color: #393e46;
    margin-right: 20px;
    padding: 20px 0;
}

#user-polls-list span{
    padding: 20px 0;
}

#user-polls-list a{
    font-size: 22px;
    padding: 20px 0;
    min-width: fit-content;
    text-align: right;
    flex-grow: 1;
    height: 100%;
}


/* Error message */

#user-polls-list p{
    font-size: 25px;
    margin-top: 12%;
    margin-bottom: 15px;
}