main{
    text-align: center;
}

h1{
    font-size: 45px;
    margin-bottom: 25px;
}

h2{
    font-size: 32px;
    font-weight: 450;
    color: #555a64;
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

h3{ 
    color: #919191;
}

form{
    margin: 0;
}

main p{
    margin: 0;
}

#id_question_text{
    margin-bottom: 2px;
    width: 40vw;
}

.choice-form{
    display: flex;
    place-content: center;
    margin-bottom: 15px;
}

input{
    color: #393e46;
    border-radius: 40px;
    border: solid #d7d7d7 2px;
    width: 25vw;
    padding: 10px 15px;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}

input:focus{
    outline-color: #979797;
}

input:placeholder-shown{
    color: #949494;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
}

.button{
    padding: 10px 15px;
    font-size: 18px;
}

.delete-button{
    border: none;
}

.choice-form{
    margin-left: 55px;
}

.choice-form i{
    color: #393e46;
    font-size: 25px;
}

.choice-form i:hover{
    color: #949494;
}

.delete-button:disabled i {
    color: #d3d3d3;
}

.delete-button:disabled i:hover {
    color: #d3d3d3;
    cursor: not-allowed;
}

#add-button{
    border: solid #1e9baf 2px;
    margin: 5px 0;
    border-radius: 100px;
    font-size: 20px;
    color: #686c74;
    padding: 10px 12px;
}

#add-button:hover{
    border: solid #1e9baf 2px;
    background-color: #c6f7ff;
}

#validate{
    margin-top: 40px;
    font-size: 24px;
}

#validate:hover{
    border: solid #fda579 3px;
    background-color: #ffd1ba;
    font-size: 24px;
    text-decoration: none;
}


#confirmation-main{
    width: 100%;    
}

#confirmation-main h1{
    margin-top: 10%;
    margin-bottom: 3%;
}

#confirmation-main h2{
    margin-bottom: 2%;
}

#code-div{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    width: fit-content;
    background-color: #f7f7f7;
    margin: auto;
    place-content: center;
    align-items: center;
    border-radius: 50px;
}

#code{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 22px;
}

#copy-button{
    font-size: 30px;
    border: none;
    background-color: #f9f9f9;
    padding: 0;
}

#copy-button:hover{
    color: #979797;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 20px;
    width: 80px;
    background-color: #1e9baf;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 8px;
    position: absolute;
    z-index: 1;
    bottom: 135%;
    left: 155%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #1e9baf transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 0.75;
}

#polls-index-main h2{
    margin-top: 40px;
    margin-bottom: 25px;
}

#polls-index-main h3{
    margin: 0;
}

#search-form i{
    margin-left: 60px;
    font-size: 25px;
    padding-right: 5px;
}

#search-form input{
    width: 260px;
    margin: 15px 5px 20px 0;
}

#search-button{
    font-size: 20.5px;
    margin: 10px 0 0 0;
    border: solid #1e9baf 2px;
    padding: 8px;
}

#search-button:hover{
    background-color: #1e9baf;
    color: white;
    text-decoration: none;
}

#public-questions-list{
    margin: 10px auto 0 auto;
    padding-top: 0;
    height: 230px;
    width: fit-content;
    min-width: 350px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 19px;
    overflow: auto;
}

#public-questions-list ul{
    margin: 12px 0;
}

#public-questions-list li{
    margin-top: 0;
    margin-bottom: 10px;
}

#public-questions-list p{
    font-style: italic;
}

ul li{
    text-align: left;
    color: #393e46;
}

ul li::marker{
    color: #fda579;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-track {
border: 1px solid #cacaca;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #cacaca;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #b4b4b4;  
}

#public-questions-list a{
    color: #393e46;
}

#public-questions-list a:hover{
    color: #dc8559;
}

#vote-main h1{
    margin-top: 7%;
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
}

#vote-main form{
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    border: solid #b4b4b4 2px;
    padding: 20px;
    padding-right: 25px;
}

.rad-label{
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 14px;
    margin: 8px 0;
    cursor: pointer;
    transition: .3s;
}
.rad-label:hover, .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, #00DFFF, #50b0ff);
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked + .rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: #575d66;
    margin-left: 14px;
    transition: .3s;
}

.rad-input:checked ~ .rad-text {
    color: hsl(0, 0%, 40%);
}

#vote-button{
    margin-top: 25px;
    width: 30%;
    min-width: fit-content;
    font-size: 21px;
}

#results-main h1{
    margin: 50px 0;
}

#results-main h2{
    font-size: 33.5px;
}

#results-main li{
    margin-bottom: 12px;
    font-size: 24px;
}

#results-main h3{
    color: #a7a7a7;
    margin: 40px 0 50px 0;
}

.choice-list{
    margin: 0px 30px 5px 0;
    display: flex;
    justify-content: center;
}

.choice-list i{
    color: #555a64;
}

#number-votes{
    color: #646a75;
}
