html, body{
    height: 100%;
}

body {
    width: 100%;
    background-color: #fffffffc;
    font-family: "Open sans", sans-serif;
    font-size: 22px;
    color: #393e46;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #fffffffc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-left: 10px;
    margin: 0;
}

nav > ul li {
    height: 65px;
    width: 20%;
    line-height: 65px;
    text-align: center;
}

nav > ul li:last-child{
    border: none;
}

nav > ul a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #393e46;
}

nav > ul a:hover{
    background-color: #f4f4f4;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
    text-decoration-color: #adadad;
}

#registration{
    width: 15%;
}

#registration ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

#registration li {
    width: 48%;
    text-align: center;
}

#registration a{
    color: #393e46;
    background-color: #fda579;
    font-size: 20px;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 40px;
}

#registration a:hover{
    color: whitesmoke;
    background-color: #1e9baf;
}

.selected{
    background-color: #e5e5e5 !important;
    color: #1e9baf;
    text-decoration-color: #1e9baf !important;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

footer{
    background-color: #e9e9e9;
    text-align: center;
    width: 100%;
    height: 75px;
}

footer p{
    font-size: 20px;
    padding-top: 5px;
}

footer a{
    color: #1e9baf;
    text-decoration-color: #1e9baf;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 65px 0;
}

.button{
    text-decoration: none;
    color: #393e46;
    border-radius: 40px;
    border: solid #fda579 3px;
    background-color: #fffffffc;
}

.button:hover{
    border-color: #1e9baf;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
    text-decoration-color: #adadad;
    cursor: pointer;
}