<!-- 404 ERROR -->

{% extends "base.html" %}

{% block title %}Page Not Found | Sondi{% endblock %}

{% block css %}
{% load static %}
{% endblock %}

{% block content %}
<main id="error-page-main">
    {% block errorImage %}<img src="{% static 'images/404-error-animate.svg' %}" alt="404-error-animate">{% endblock %}
    {% block errorTitle %}<h1>Page Not Found</h1>{% endblock %}
    {% block errorText %}
    <p>
        We couldn't find what you searched for. 
        Try searching again.
    </p>
    {% endblock %}
</main>
{% endblock %}