<!-- PASSWORD RESET EMAIL CONTENT -->

{% autoescape off %}
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your user account at Sondi.

To reset your password, please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using Sondi!

Sincerely,
The Sondi Administration Team
{% endautoescape %}