<!-- RESET PASSWORD CONFIRMATION -->

{% extends "base.html" %}

{% block title %}Reset Password | Sondi{% endblock %}

{% block css %}
{% load static %}
{% static 'authentication/style.css' %}
{% endblock %}

{% block content %}
<main>
    <div id="password-reset-confirmation-message">
        <h1>Your new password has been set !</h1>
        <p>
            Your password has been successfully updated. 
            <a href="{% url 'login' %}" class="link">Log in</a>
        </p>
    </div>
</main>
{% endblock %}