/* ------ HOME APP TEMPLATES CSS ------ */


/* --- INDEX.HTML --- */

#home-logo{
    margin: 5% auto 0 auto;
}

h2{
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    margin: 2% 20% 5% 20%;
}

main > p{
    font-size: 23px;
    margin: 2.5% 0;
}

.button{
    padding: 12px 25px !important;
}




/* --- ABOUT.HTML --- */

#about-main{
    margin-bottom: 20px;
}

#about-main section{
    margin: 50px 80px;
    text-align: justify;
}

section ul{
    margin: 15px;
}

section strong{
    color: #198697;
}

.note{
    color: #ff7070;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: bold;
}

.note-li{
    margin-top: 20px;
    list-style-type: none;
    text-align: justify;
}