main{
    text-align: center;
}

#home-logo{
    margin: 40px auto 0 auto;
}

h2{
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    margin: 2% 20% 6% 20%;
}

main p{
    font-size: 23px;
    margin: 2.5% 0;
}

.button{
    padding: 12px 25px;
}