main{
    text-align: center;
}

#home-logo{
    margin: 40px auto 0 auto;
}

h2{
    font-size: 27px;
    font-weight: 500;
    font-style: normal;
    margin: 2% 20% 6% 20%;
}

main > p{
    font-size: 23px;
    margin: 2.5% 0;
}

.button{
    padding: 12px 25px;
}

#about-main{
    margin-bottom: 20px;
}

#about-main section{
    margin: 50px 80px;
    text-align: justify;
}

strong{
    color: #198697;
}

section p{
    margin: 0;
}

section ul{
    margin: 15px;
}

section ul li{
    margin-bottom: 10px;
}


section ul li::marker{
    color: #fda579;
}